---
import Layout from "../layouts/Layout.astro";
import BackgroundFX from "../components/BackgroundFX.astro";
import StickyHeader from "../components/StickyHeader.astro";
import HeroVS from "../components/HeroVS.astro";
import CountdownBig from "../components/CountdownBig.astro";
import PredictionBar from "../components/PredictionBar.astro";
import DonationCard from "../components/DonationCard.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<BackgroundFX />
	<StickyHeader />
	<main>
		<HeroVS />
		<CountdownBig />
		<PredictionBar />
		<DonationCard />
	</main>
	<Footer />
</Layout>
